<!DOCTYPE html>
<html>
  <head>
    <title>Velp</title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBrhc7zY678jmUvp4wEPN5HmiGFoCcdFvc" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    
    <script>
    window.velpLogo = "<%= image_url('velp-logo.png') %>"
    window.signupIllustration = "<%= image_url('signup_illustration.png') %>"
    window.footer = "<%= image_url('velp-footer.png')%>"
    window.tacos = "<%= image_url('tacos.jpg')%>"
    window.beer = "<%= image_url('beer.jpg')%>"
    window.girleed_cheese = "<%=image_url('girleed-cheese.jpg')%>"
    window.meal = "<%=image_url('meal.jpg')%>"
    window.icecream = "<%=image_url('icecream.jpg')%>"
    window.perse2 = "<%=image_url('perse2.jpg')%>"
    window.xian = "<%=image_url('xian.jpg')%>"
    window.steak = "<%=image_url('steak.jpg')%>"
    window.zeroStar = "<%= image_url('regular_0@2x.png')%>"
    window.oneStar = "<%= image_url('regular_1@2x.png')%>"
    window.twoStar = "<%= image_url('regular_2@2x.png')%>"
    window.threeStar = "<%= image_url('regular_3@2x.png')%>"
    window.fourStar = "<%= image_url('regular_4@2x.png')%>"
    window.fiveStar = "<%= image_url('regular_5@2x.png')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
