<!DOCTYPE html>
<html>
  <head>
    <title>Velp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
    window.velpLogo = "<%= image_url('velp-logo.png') %>"
    window.signupIllustration = "<%= image_url('signup_illustration.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
